@import 'vars';


/*---Common start---*/
*{
    box-sizing: border-box;
}
body{
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    color: $accent;
    //font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    margin: 0;
}
/*---Common end---*/

/*---Header start---*/
.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px 0;
    .logo{
        display: inline-block;
    }
    .menu{
        float: right;
        ul{
            list-style: none;
            li{
                display: inline-block;
                a{
                    font-size: 16px;
                    color: $accent;
                    text-transform: uppercase;
                    padding-bottom: 5px;
                    &:hover{
                        border-bottom: 2px solid #878787;
                        }
                }
            }
            li + li{
                padding-left: 35px;
            }
        }
    }
}

/*---Header end---*/