@import 'vars';


/*---Common start---*/
*{
    box-sizing: border-box;
}
body{
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    color: $accent;
    //font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}
.col-4{
    width: 33.3333%;
    padding: 0 15px;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    margin: 0;
}
.title{
    font-weight: 700;
    font-size: 46px;
    line-height: 49px;
    letter-spacing: 1.2px;
    opacity: .8;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding-top: 20px;
    &:before{
        content: "";
        position: absolute;
        height: 4px;
        width: 60px;
        background-color: $accent;
        left: 0;
        right: 0;
        top: 0;
        margin: 0px auto;
    }
}
/*---Common end---*/

/*---Header start---*/
.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px 0;
    z-index: 5;
    .logo{
        display: inline-block;
    }
    .menu{
        float: right;
        ul{
            list-style: none;
            li{
                display: inline-block;
                a{
                    font-size: 16px;
                    color: $accent;
                    text-transform: uppercase;
                    padding-bottom: 5px;
                    &:hover{
                        border-bottom: 2px solid #878787;
                        }
                }
            }
            li + li{
                padding-left: 35px;
            }
        }
    }
}
/*---Header end---*/

/*---Top start---*/
.top{
    background-image: url(../img/top_fon.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .top__inner{
        position: relative;
        height: 100vh;
        padding-top: 100px;
        .top__contant{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-weight: 500;
            .top__title{
                font-size: 90px;
                line-height: 67px;
            }
            .top__subtitle{
                font-size: 22px;
                opacity: .5;
                line-height: 67px;
            }
            a{
                font-size: 16px;
                color: $accent;
                text-transform: uppercase;
                border: 1px solid $accent;
                padding: 18px 40px;
                letter-spacing: 2px;
                &:hover{
                    background-color: #fff;
                    border: 1px solid transparent;
                }
            }
            a + a{
                margin-left: 20px;
            }
        }
        .top__img{
            background-image: url(../img/top_img.png);
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
        }
    }
}
/*---Top end---*/

/*---About start---*/
.about{
    padding-top: 110px;
    padding-bottom: 125px;
    .about__inner{
        min-height: 445px;
        display: flex;
        justify-content: space-between;
        .about__info{
            max-width: 480px;
            .about__title{
                text-align: left;
                max-width: 320px;
                &:before{
                    margin: 0;
                }
            }
            .about__text{
                font-size: 16px;
                line-height: 26px;
                margin-top: 5px;
            }
            .about__btn{
                font-size: 16px;
                letter-spacing: 0.6px;
                font-weight: 500;
                padding: 15px 45px;
                color: $accent;
                border: 1px solid $accent;
                margin-top: 35px;
            }
        }
    }
}
/*---About end---*/

/*---Services start---*/
.services{
    background-color: #f6f6f6;
    padding-top: 120px;
    .services__title{
        margin-bottom: 60px;
    }
    .services__item{
        text-align: center;
        padding-bottom: 60px;
        .services__name{
            font-weight: 500;
            font-size: 24px;
            line-height: 49px;
            text-transform: capitalize;
        }
    }
}
/*---Services end---*/