@import 'vars';


/*---Common start---*/
*{
    box-sizing: border-box;
}
body{
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    color: $accent;
    //font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    margin: 0;
}
/*---Common end---*/

/*---Header start---*/
.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px 0;
    .logo{
        display: inline-block;
    }
    .menu{
        float: right;
        ul{
            list-style: none;
            li{
                display: inline-block;
                a{
                    font-size: 16px;
                    color: $accent;
                    text-transform: uppercase;
                    padding-bottom: 5px;
                    &:hover{
                        border-bottom: 2px solid #878787;
                        }
                }
            }
            li + li{
                padding-left: 35px;
            }
        }
    }
}
/*---Header end---*/

/*---Top start---*/
.top{
    background-image: url(../img/top_fon.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .top__inner{
        position: relative;
        height: 100vh;
        padding-top: 100px;
        .top__contant{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-weight: 500;
            .top__title{
                font-size: 90px;
                line-height: 67px;
            }
            .top__subtitle{
                font-size: 22px;
                opacity: .5;
                line-height: 67px;
            }
            a{
                font-size: 16px;
                color: $accent;
                text-transform: uppercase;
                border: 1px solid $accent;
                padding: 18px 40px;
                letter-spacing: 2px;
                &:hover{
                    background-color: #fff;
                    border: 1px solid transparent;
                }
            }
            a + a{
                margin-left: 20px;
            }
        }
        .top__img{
            background-image: url(../img/top_img.png);
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
        }
    }
}
/*---Top end---*/